@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  background: linear-gradient(90deg, #FCFCFC 0%, #FEECEF 56%, #FFDFE4 100%);
  min-height: 100vh;
}

.login_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);

  /* container styling */
  z-index: 1;
  width: 640px;
  height: 420px;
  padding: 70px 90px 80px 80px;

  border-radius: 20px;
  background: rgba(255, 255, 255, 0.35);
  font-family: "Inter";
  font-weight: 300;

  /* shadow and blur styling */
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.welcome_text {
  font-size: 40px;
  font-weight: 450;
  color: #FF6854;
  margin-bottom: 5px;
}

.input_form {
  position: relative;
  height: 52px;
  width: calc(100% - 20px);
  padding-left: 20px;
  border-radius: 20px;

  /* background and outline */
  outline: none;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #C0C0C0;
}

.password_form {
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
}

.show_password {
  z-index: 2;
  top: 50%;
  right: 3%;
  position: absolute;
  transform: translateY(-50%);

  /* hover styling */
  user-select: none;
  cursor: pointer;
  transition: filter 0.15s ease-in-out;
}

.show_password:hover {
  filter: brightness(0) saturate(100%) invert(56%) sepia(76%) saturate(692%) hue-rotate(317deg) brightness(107%) contrast(102%);
}

.form_button {
  position: relative;
  margin: auto;
  margin-top: 0.75em;

  width: 90%;
  height: 62px;

  /* background, outline, other */
  border-radius: 25px;
  border: 1px solid #C0C0C0;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.form_button:hover {
  background-color: #3A3637;
  color: rgb(235, 235, 235);
}

.login_form {
  margin-top: 2.25em;
}

.input_text, .input_text::placeholder {
  font-family: "Inter";
  font-size: 22px;
  font-weight: 300;
  color: rgba(81, 69, 68, 0.6);
}

.body_text {
  font-size: 20px;
  color: #272121;
}

.input_text {
  color: #272121;
}

.forgot_text {
  position: relative;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
}

.highlight_text {
  color: #FF6854;
  user-select: none;
  cursor: pointer;
  transition: color 0.15s ease-in-out;
}

.highlight_text:hover {
  color: #FA3D66;
}

.button_text {
  font-size: 24px;
  font-weight: 500;
  color: #514544;
}

.no_account_text {
  margin-top: 1em;
  position: relative;
  align-self: center;
}